<div style="width:100%;height:auto;">

        Dear   {{receiverName}},<br/><br/><img src="{{pic}}"/>

        Thank you for testing Dither Email. <br/><br/><br/>

        Cheers,<br/>
        Team Dither

</div>
