<div style="width:100%;height:150px;">
       
        Dear   {{receiverName}},<br/><br/>
        
        Your Dither has been expired And You have {{ Vote }} Votes for this Dither!.<br/><br/>
         <img src="{{ ditherImage }}" style="width:320px;height:320px;"><br/><br/>
          
		Cheers,<br/>
	    Team Dither
	
</div>
