<div style="width:100%;height:150px;">
       
        Dear   {{receiverName}},<br/><br/>
        
        Your Dither has been expired!.<br/><br/><br/>
        
         <img src="{{ ditherImage }}"><br/><br/>
         

		Cheers,<br/>
	    Team Dither
	
</div>
