<div style="width:100%;height:150px;">
       
        Dear   {{receiverName}},<br/><br/>
        
        Thank you for signing up with Dither. <br/><br/><br/>

		Cheers,<br/>
	    Team Dither
        
			
</div>
