<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dither</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>
        <style type="text/css">
             /* Client-specific Styles */
             div, p, a, li, td {
             -webkit-text-size-adjust: none;
             }
             #outlook a {
             padding: 0;
             } /* Force Outlook to provide a "view in browser" menu link. */
             html {
             width: 100%;
             }
             body {
             width: 100% !important;
             -webkit-text-size-adjust: 100%;
             -ms-text-size-adjust: 100%;
             margin: 0;
             padding: 0;
             font-family: Arial, Helvetica, sans-serif
             }
             /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
             .ExternalClass {
             width: 100%;
             } /* Force Hotmail to display emails at full width */
             .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
             line-height: 100%;
             } /* Force Hotmail to display normal line spacing. */
             #backgroundTable {
             margin: 0;
             padding: 0;
             width: 100% !important;
             line-height: 100% !important;
             }
             img {
             outline: none;
             text-decoration: none;
             border: none;
             -ms-interpolation-mode: bicubic;
             }
             a img {
             border: none;
             }
             .image_fix {
             display: block;
             }
             p {
             margin: 0px 0px !important;
             }
             table td {
             border-collapse: collapse;
             }
             table {
             border-collapse: collapse;
             mso-table-lspace: 0pt;
             mso-table-rspace: 0pt;
             }
             a {
             color: #33b9ff;
             text-decoration: none;
             text-decoration: none!important;
             }
             .col_1 {
             width: 184px;
             height: 200px;
             display: block;
             background: url(col1.jpg);
             background-size: contain;
             }
             .col_2 {
             width: 184px;
             height: 200px;
             display: block;
             background: url(col2.jpg);
             background-size: contain;
             }
             .col_3 {
             width: 184px;
             height: 200px;
             display: block;
             background: url(col3.jpg);
             background-size: contain;
             }
             .image_col {
             width: 184px;
             display: block;
             float: left;
             margin-bottom: 5px;
             margin-left: 5px;
             color: #fff;
             }
             .inner_content {
             background: #29bd9b none repeat scroll 0 0;
             font-size: 14px;
             height: 117px;
             line-height: 24px;
             vertical-align: middle;
             width: 184px;
             }
             .inner_content_2 {
             background: #a7fde9;
             color: #000;
             font-size: 14px;
             height: 117px;
             line-height: 24px;
             vertical-align: middle;
             width: 184px;
             }
             .subscribe a {
             color: #5b5656;
             font-size: 14px;
             font-weight: 600;
             text-transform: uppercase;
             }
             .subscribe {
             background: #fff none repeat scroll 0 0;
             border-radius: 3px;
             width: 132px;
             height: 37px;
             line-height: 34px;
             text-align: center
             }
             .copy {
             font-size: 14px;
             color: #fff;
             padding: 30px 10px;
             text-align: center;
             }
             .share {
             width: 207px;
             margin: 0 auto;
             }
             .share img {
             float: left;
             margin: 0 8px;
             }
             a.banner_btn {
             background: #29bd9b none repeat scroll 0 0;
             border-radius: 3px;
             bottom: 80px;
             color: #fff;
             font-size: 15px;
             left: 39%;
             padding: 10px 44px;
             position: absolute;
             }
             .banner_img {
             background-clip: border-box;
             background-color: rgba(0, 0, 0, 0);
             background-image: url("bg.jpg");
             background-origin: padding-box;
             background-position: center center;
             background-repeat: no-repeat;
             background-size: contain;
             height: 570px;
             position: relative;
             }
             .download {
             color: #3cf7cc;
             text-transform: uppercase;
             font-weight: bold;
             font-size: 20px;
             position: absolute;
             top: 53px;
             right: 22px;
             }
             /*STYLES*/
             table[class=full] {
             width: 100%;
             clear: both;
             }
             /*IPAD STYLES*/
             @media only screen and (max-width: 640px) {
             a[href^="tel"], a[href^="sms"] {
             text-decoration: none;
             color: #33b9ff; /* or whatever your want */
             pointer-events: none;
             cursor: default;
             }
             .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
             text-decoration: default;
             color: #33b9ff !important;
             pointer-events: auto;
             cursor: default;
             }
             table[class=devicewidth] {
             width: 440px!important;
             text-align: left !important;
             }
             table[class=devicewidthinner] {
             width: 420px!important;
             text-align: center!important;
             }
             img[class=banner] {
             width: 440px!important;
             height: 430px!important;
             }
             img[class=col2img] {
             width: 440px!important;
             height: 220px!important;
             }
             .banner_img {
             height: 418px;
             }
             .download {
             top: 37px;
             }
             }
             /*IPHONE STYLES*/
             @media only screen and (max-width: 480px) {
             a[href^="tel"], a[href^="sms"] {
             text-decoration: none;
             color: #33b9ff; /* or whatever your want */
             pointer-events: none;
             cursor: default;
             }
             .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
             text-decoration: default;
             color: #33b9ff !important;
             pointer-events: auto;
             cursor: default;
             }
             table[class=devicewidth] {
             width: 288px!important;
             text-align: center!important;
             }
             table[class=devicewidthinner] {
             width: 260px!important;
             text-align: center!important;
             }
             img[class=banner] {
             width: 288px!important;
             height: 275px!important;
             }
             img[class=col2img] {
             width: 280px!important;
             height: 140px!important;
             }
             .image_col {
             margin: 5px auto !important;
             float: inherit !important
             }
             table.green_table tr td {
             display: block !important
             }
             .subscribe a {
             background: #fff none repeat scroll 0 0;
             border-radius: 3px;
             color: #5b5656;
             font-size: 14px;
             font-weight: 600;
             margin: 0 auto 30px;
             padding: 12px 25px;
             text-transform: uppercase;
             }
             .subscribe {
             margin: 0 auto;
             }
             .col_1 {
             width: 288px;
             background-size: cover;
             background-repeat: no-repeat;
             height: 306px;
             }
             .col_2 {
             width: 288px;
             background-size: cover;
             background-repeat: no-repeat;
             height: 306px;
             }
             .col_3 {
             width: 288px;
             background-size: cover;
             background-repeat: no-repeat;
             height: 306px;
             }
             .image_col {
             width: 288px;
             margin-bottom: 10px !important;
             }
             .copy {
             padding: 20px;
             }
             .banner_img {
             height: 273px;
             }
             a.banner_btn {
             left: 28%
             }
             .download {
             font-size: 15px;
             right: 12px;
             top: 20px;
             }
             a.banner_btn {
             bottom: 25px;
             }
             .inner_content {
             width: 100%
             }
             .inner_content_2 {
             width: 100%
             }
             }
        </style>
    </head>
    <body>
            {{>email/header}}
            {{{body}}}
            {{>email/footer}}
    </body>
</html>
