<!-- Start of header -->
<br/>
<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
    <tbody>
        <tr>
            <td>
                <table width="600" height="105" align="center" cellspacing="0" cellpadding="15" border="0" class="devicewidth" style="background:#2A2A62">
                    <tbody>
                        <tr>
                            <td height="78"><img src="{{email_img_url}}logo.png" height="50" /></td>
                        </tr>
                        <!--<tr>
                            <td align="center">
                                <h1 style="text-transform:uppercase; font-size:35px; color:#fff; line-height:40px;">Cras <span style="color:#29bd9b">malesuada</span> feugiat </h1>
                                <p style="color: #fff; font-size: 16px; line-height: 28px;">Cras malesuada feugiat venenatis. Duis nec hendrerit mauris, ac pellentesque justo.
                                        Donec scelerisque,
                                        eros non aliquet luctus, est neque blandit lectus, a ultrices felis justo in arcu. Maecenas eu volutpat dui.
                                </p>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- End of Left Image -->
<!-- start of Full text -->
<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
    <tbody>
        <tr>
            <td>
                <table  bgcolor="#444e66" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#29BD9B" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                    <tbody>
                                        <!-- Spacing -->
                                        <tr>
                                            <td height="13" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- Spacing -->
                                        <tr>
                                            <td>
                                                <table width="572" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                                    <tbody>
                                                        <!-- End of spacing -->
                                                        <!-- content -->
                                                        <tr>
                                                            <td align="center">
                                                                <img src="{{email_img_url}}middle_img.png" alt="" border="0" width="100%"  style="display:block; border:none; outline:none; text-decoration:none;">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Spacing -->
                                        <tr>
                                            <td height="13" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- Spacing -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!--contact details -->
